<div class="container">
    <div class="row breadcrum-container">
        <ul class="col-sm-12">
            <li>
                <a href="https://www.wipo.int/portal/en/" target="_blank">{{ 'breadcrum.home' | translate }}</a>
            </li>
            <li style="margin : 2px 9px 0 9px" class="fa fa-angle-right">
            </li>
            <li>
                <a href="https://www.wipo.int/cooperation/en/" target="_blank">{{ 'breadcrum.Cooperation' | translate}}</a>
            </li>
            <li style="margin : 2px 9px 0 9px" class="fa fa-angle-right"></li>
            <li>
                <a [routerLink]="['/home']">{{ 'breadcrum.WIPO_Match' | translate }}</a>
            </li>
            <li style="margin : 2px 9px 0 9px" class="fa fa-angle-right">
            </li>
            <li>
                <a [routerLink]="['/search']">{{'breadcrum.search' | translate}} </a>
            </li>
            <li style="margin : 2px 9px 0 9px"></li>
        </ul>
    </div>
</div>
<div class="container">
    <h1>{{'search.heading' | translate}}</h1>
</div>
<div class="container ">
    <div class="lineLeft">
        <p class="para">{{'search.para' | translate}}</p>
    </div>
</div>
<div class="container">
    <ng4-loading-spinner></ng4-loading-spinner>
    <form [formGroup]="searchForm">
        <div class="row">
            <div class=" col-md-12 form-group">
                <label class="radioLabel">{{'search.interested' | translate}} </label>
                <label class="radio-inline">
                    <input type="radio" (change)="onItemChange($event)" formControlName="interest" value="1"
                        [checked]=true>{{'search.needs' | translate}}</label>
                <label class="radio-inline">
                    <input type="radio" (change)="onItemChange($event)" formControlName="interest"
                        value="2">{{'search.offers' | translate}}</label>
            </div>
        </div>
        <!-- As discussed -->
        <!-- <div class="row">
            <div class="col-md-12 form-group">
                <label>Keyword</label>
                <input type="text" formControlName="keyword" class="form-control" placeholder="" value="" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label>Published By</label>
                <textarea name="publishedBy" formControlName="publishedBy" placeholder=""
                    class="form-control"></textarea>
            </div>
        </div> -->
        <div class="row">
            <div class="col-md-6 form-group">
                <label>{{'search.IPArea' | translate}}</label>
                <angular2-multiselect name="ipFields" formControlName="ipFields" class="form-control form-control-override" [ngClass]="{ 'is-invalid': submitted && f.ipFields.errors }" [data]="ipField" [settings]="dropdownSettings" disabled>
                </angular2-multiselect>
                <div *ngIf="submitted && f.ipFields.errors" class="invalid-feedback">
                    <div *ngIf="f.ipFields.errors.required">{{'search.IPAreaRequired' | translate}}</div>
                </div>
            </div>
            <div class="col-md-6 form-group">
                <label>{{'search.country' | translate}} </label>
                <angular2-multiselect name="ddCountries" [data]="countryName" formControlName="countries" class="form-control form-control-override" [ngClass]="{ 'is-invalid': submitted && f.countries.errors }" [settings]="dropdownSettings" disabled>
                </angular2-multiselect>

                <div *ngIf="submitted && f.countries.errors" class="invalid-feedback">
                    <div *ngIf="f.countries.errors.required">Interested In Countries is required</div>
                </div>
            </div>

            <div class="col-md-6 form-group">
                <label>{{'search.SDGs' | translate}}</label>
                <angular2-multiselect name="ddSDG" [data]="sdg" formControlName="sdgs" class="form-control form-control-override" [ngClass]="{ 'is-invalid': submitted && f.sdgs.errors }" [settings]="dropdownSettings" disabled>
                </angular2-multiselect>
                <div *ngIf="submitted && f.sdgs.errors" class="invalid-feedback">
                    <div *ngIf="f.sdgs.errors.required">{{'search.SDGsReuired' | translate}}</div>
                </div>
            </div>
            <div class="col-md-6 form-group">
                <label>{{'search.techAssist' | translate}}</label>
                <angular2-multiselect name="ddTechAss" [data]="techAssistance" formControlName="techAssistances" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.techAssistances.errors }" [settings]="dropdownSettings" disabled>
                </angular2-multiselect>
                <div *ngIf="submitted && f.techAssistances.errors" class="invalid-feedback">
                    <div *ngIf="f.techAssistances.errors.required">{{'search.techAssistRequired' | translate}}</div>
                </div>
            </div>

            <div class="col-md-6 form-group">
                <label>{{'search.techField' | translate}}</label>
                <angular2-multiselect name="dropdown" [data]="techField" formControlName="techFields" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.techFields.errors }" [settings]="dropdownSettings" (onClose)="onClose($event)" disabled>
                </angular2-multiselect>
                <div *ngIf="submitted && f.techFields.errors" class="invalid-feedback">
                    <div *ngIf="f.techFields.errors.required">{{'search.techFieldRequired' | translate}}</div>
                </div>
            </div>
            <div class="col-md-6 form-group">
                <label>{{'search.subTechField' | translate}} </label>
                <angular2-multiselect name="dropdown" [data]="subTechField" formControlName="subTechFields" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.subTechFields.errors }" [settings]="dropdownSettings" disabled>
                </angular2-multiselect>
                <div *ngIf="submitted && f.subTechFields.errors" class="invalid-feedback">
                    <div *ngIf="f.subTechFields.errors.required">{{'search.subTeachFieldRequired' | translate}}</div>
                </div>
            </div>
        </div>
        <div class="row divBtn">
            <div class="col-md-12 form-group">
                <a class="btn call-to-action" (click)="onSubmit()" title="">{{'global.submit' | translate}}</a>
                <input class="btn btn-info" type="reset" name="Reset" (click)="onReset()" value="Reset">
            </div>
        </div>
    </form>
</div>