<div class="container">
    <div class="row breadcrum-container">
        <ul class="col-sm-12">
            <li>
                <a href="https://www.wipo.int/portal/en/" target="_blank">{{ 'breadcrum.home' | translate }}</a>
            </li>
            <li style="margin : 2px 9px 0 9px" class="fa fa-angle-right">
            </li>
            <li>
                <a href="https://www.wipo.int/cooperation/en/" target="_blank">{{ 'breadcrum.Cooperation' | translate}}</a>
            </li>
            <li style="margin : 2px 9px 0 9px" class="fa fa-angle-right"></li>
            <li>
                <a [routerLink]="['/home']">{{ 'breadcrum.WIPO_Match' | translate }}</a>
            </li>
            <li style="margin : 2px 9px 0 9px" class="fa fa-angle-right">
            </li>
            <li>
                <a [routerLink]="['/salient-features']">{{ 'breadcrum.Salient-Features' | translate }} </a>
            </li>
            <li style="margin : 2px 9px 0 9px"></li>
        </ul>
    </div>
</div>
<div class="pageHeadingRegion">
    <div class="container">
        <h1 class="pageHeadingName">{{ 'breadcrum.Salient-Features' | translate }}</h1>
        <h2 class="subHeading">{{ 'Salient.subheading' | translate }}</h2>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="paraHeading">{{ 'Salient.Visibility' | translate }}</h3>
            <p>{{'Salient.Visibility.para1' | translate}}</p>
            <p>{{'Salient.Visibility.para2' | translate}}</p>
            <p><b>{{'Salient.Visibility.heading' | translate}}</b></p>
            <p>{{'Salient.Visibility.heading.para1' | translate}}<b>{{'Salient.Visibility.heading.para2' | translate}}</b>{{'Salient.Visibility.heading.para3' | translate}}
            </p>

            <ul>
                <li>{{ 'Salient.Visibility.1' | translate }}</li>
                <li>{{ 'Salient.Visibility.2' | translate }}</li>
                <li>{{ 'Salient.Visibility.3' | translate }}</li>
                <li>{{ 'Salient.Visibility.4' | translate }}</li>
                <li>{{ 'Salient.Visibility.5' | translate }}</li>
                <li>{{ 'Salient.Visibility.6' | translate }}</li>
                <li>{{ 'Salient.Visibility.7' | translate }}</li>
                <li>{{ 'Salient.Visibility.8' | translate }}</li>
                <li>{{ 'Salient.Visibility.9' | translate }}</li>

            </ul>


            <h3 class="paraHeading">{{ 'Salient.Accessibility' | translate }}</h3>
            <p>{{ 'Salient.Accessibility.para1' | translate }}</p>
            <ul>
                <li><b>{{ 'Salient.Accessibility.Simple' | translate }}</b> <span>:</span>{{ 'Salient.Accessibility.Simple.para' | translate }}
                </li>
                <li> <b>{{ 'Salient.Accessibility.Organized' | translate }}</b> <span>:</span>{{ 'Salient.Accessibility.Organized.para' | translate }}
                </li>
                <li><b>{{ 'Salient.Accessibility.Natural' | translate }}</b> <span>:</span>{{ 'Salient.Accessibility.Natural.para' | translate }}</li>
                <li><b>{{ 'Salient.Accessibility.Consistent' | translate }}</b> <span>:</span>{{ 'Salient.Accessibility.Consistent.para' | translate }}</li>
            </ul>


            <h3 class="paraHeading">{{ 'Salient.Accessibility.paraheading' | translate }}</h3>
            <p>{{ 'Salient.Accessibility.para2' | translate }}</p>
            <ul>
                <li>{{ 'Salient.Accessibility.paraheading1' | translate }}</li>
                <li>{{ 'Salient.Accessibility.paraheading2' | translate }}</li>
                <li>{{ 'Salient.Accessibility.paraheading3' | translate }}</li>
                <li>{{ 'Salient.Accessibility.paraheading4' | translate }}</li>
            </ul>

            <p>{{ 'Salient.Accessibility.para3' | translate }}</p>
            <ul>
                <li>{{ 'Salient.Accessibility.para3.1' | translate }}</li>
                <li>{{ 'Salient.Accessibility.para3.2' | translate }}</li>
                <li>{{ 'Salient.Accessibility.para3.3' | translate }}</li>
                <li>{{ 'Salient.Accessibility.para3.4' | translate }}</li>
                <li>{{ 'Salient.Accessibility.para3.5' | translate }}</li>
                <li>{{ 'Salient.Accessibility.para3.6' | translate }}
                </li>

            </ul>
            <p>{{ 'Salient.Accessibility.para4' | translate }}</p>
            <p>{{ 'Salient.Accessibility.para5' | translate }}</p>
        </div>
    </div>
</div>
<div class="container marginBottom">
    <div class="accordion" id="accordionExample1">

        <div class="card">
            <div class="card-header card-header1 navyBlue" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link collapse" href="#collapseOne" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        {{ 'Salient.IP' | translate }}
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse hide stripColor" aria-labelledby="headingOne" data-parent="#accordionExample1">
                <div class="card-body">
                    <div class="col-sm-12 panel divColor">
                        <div class="col-sm-6 floatLeft">
                            <ul>
                                <li> {{ 'Salient.IP1' | translate }}</li>
                                <li> {{ 'Salient.IP2' | translate }}</li>
                                <li> {{ 'Salient.IP3' | translate }}</li>
                                <li> {{ 'Salient.IP4' | translate }}</li>
                                <li> {{ 'Salient.IP5' | translate }}</li>
                                <li> {{ 'Salient.IP6' | translate }}</li>
                            </ul>
                        </div>
                        <div class="col-sm-6 floatLeft">
                            <ul>
                                <li> {{ 'Salient.IP7' | translate }}</li>
                                <li> {{ 'Salient.IP8' | translate }}</li>
                                <li> {{ 'Salient.IP9' | translate }}</li>
                                <li> {{ 'Salient.IP10' | translate }}</li>
                                <li> {{ 'Salient.IP11' | translate }}</li>
                                <li> {{ 'Salient.IP12' | translate }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header card-header1 navyBlue" id="headingOne1">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                        {{ 'Salient.Assistance-Table' | translate }} 
                    </button>
                </h2>
            </div>

            <div id="collapseOne1" class="collapse hide stripColor" aria-labelledby="headingOne1" data-parent="#accordionExample1">
                <div class="card-body">
                    <div class=" col-sm-12  panel divColor">
                        <div class="col-sm-6 floatLeft">
                            <ul>
                                <li>{{ 'Salient.Assistance-Table1' | translate }}</li>
                                <li>{{ 'Salient.Assistance-Table2' | translate }}</li>
                                <li>{{ 'Salient.Assistance-Table3' | translate }}</li>
                                <li>{{ 'Salient.Assistance-Table4' | translate }}</li>
                                <li>{{ 'Salient.Assistance-Table5' | translate }}</li>
                                <li>{{ 'Salient.Assistance-Table6' | translate }}</li>
                                <li>{{ 'Salient.Assistance-Table7' | translate }}</li>
                                <li>{{ 'Salient.Assistance-Table8' | translate }}</li>
                                <li>{{ 'Salient.Assistance-Table9' | translate }}</li>
                            </ul>
                        </div>
                        <div class="col-sm-6 floatLeft">
                            <ul>
                                <li>{{ 'Salient.Assistance-Table10' | translate }}</li>
                                <li>{{ 'Salient.Assistance-Table11' | translate }}</li>
                                <li>{{ 'Salient.Assistance-Table12' | translate }}</li>
                                <li>{{ 'Salient.Assistance-Table13' | translate }}</li>
                                <li>{{ 'Salient.Assistance-Table14' | translate }}</li>
                                <li>{{ 'Salient.Assistance-Table15' | translate }}</li>
                                <li>{{ 'Salient.Assistance-Table16' | translate }}</li>
                                <li>{{ 'Salient.Assistance-Table17' | translate }}</li>
                                <li>{{ 'Salient.Assistance-Table18' | translate }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>



        </div>

        <div class="card">

            <div class="card-header card-header1 navyBlue" id="headingOne2">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
                        {{ 'Salient.sector' | translate }}

                    </button>
                </h2>
            </div>

            <div id="collapseOne2" class="collapse hide stripColor" aria-labelledby="headingOne2" data-parent="#accordionExample1">
                <div class="card-body ">
                    <div class="col-sm-12 panel divColor ">
                        <div class="col-sm-4 floatLeft">
                            {{ 'Salient.sector.Agriculture' | translate }}
                        </div>
                        <div class="col-sm-4 floatLeft">
                            <ul>
                                <li>{{ 'Salient.sector.Agriculture1' | translate }}</li>
                                <li>{{ 'Salient.sector.Agriculture2' | translate }}</li>
                                <li>{{ 'Salient.sector.Agriculture3' | translate }}</li>
                                <li>{{ 'Salient.sector.Agriculture4' | translate }}</li>
                                <li>{{ 'Salient.sector.Agriculture5' | translate }}</li>
                                <li>{{ 'Salient.sector.Agriculture6' | translate }}</li>
                                <li>{{ 'Salient.sector.Agriculture7' | translate }}</li>

                            </ul>
                        </div>

                        <div class="col-sm-4 floatLeft">
                            <ul>
                                <li>{{ 'Salient.sector.Agriculture8' | translate }}</li>
                                <li>{{ 'Salient.sector.Agriculture9' | translate }}</li>
                                <li>{{ 'Salient.sector.Agriculture10' | translate }}</li>
                                <li>{{ 'Salient.sector.Agriculture11' | translate }}</li>
                                <li>{{ 'Salient.sector.Agriculture12' | translate }}</li>
                                <li>{{ 'Salient.sector.Agriculture13' | translate }}</li>
                                <li>{{ 'Salient.sector.Agriculture14' | translate }}</li>
                            </ul>
                        </div>
                        <div class="col-sm-12">

                            <div class="col-sm-4 floatLeft">
                                {{ 'Salient.sector.Youth' | translate }}
                            </div>
                            <div class="col-sm-4 floatLeft">
                                <ul>
                                    <li>{{ 'Salient.sector.Youth1' | translate }}</li>
                                    <li>{{ 'Salient.sector.Youth2' | translate }}</li>
                                    <li>{{ 'Salient.sector.Youth3' | translate }}</li>
                                    <li>{{ 'Salient.sector.Youth4' | translate }}</li>
                                    <li>{{ 'Salient.sector.Youth5' | translate }}</li>
                                    <li>{{ 'Salient.sector.Youth6' | translate }}</li>
                                    <li>{{ 'Salient.sector.Youth7' | translate }}</li>
                                    <li>{{ 'Salient.sector.Youth8' | translate }}</li>
                                    <li>{{ 'Salient.sector.Youth9' | translate }}</li>
                                </ul>
                            </div>
                            <div class="col-sm-4 floatLeft">
                                <ul>
                                    <li>{{ 'Salient.sector.Youth10' | translate }}</li>
                                    <li>{{ 'Salient.sector.Youth11' | translate }}</li>
                                    <li>{{ 'Salient.sector.Youth12' | translate }}</li>
                                    <li>{{ 'Salient.sector.Youth13' | translate }}</li>
                                    <li>{{ 'Salient.sector.Youth14' | translate }}</li>
                                    <li>{{ 'Salient.sector.Youth15' | translate }}</li>
                                    <li>{{ 'Salient.sector.Youth16' | translate }}</li>
                                    <li>{{ 'Salient.sector.Youth17' | translate }}</li>
                                    <li>{{ 'Salient.sector.Youth18' | translate }}</li>
                                    <li>{{ 'Salient.sector.Youth19' | translate }}</li>
                                </ul>
                            </div>
                        </div>



                        <div class="col-sm-12 divColor">

                            <div class="col-sm-4 floatLeft">
                                {{ 'Salient.sector.Digital' | translate }}
                            </div>
                            <div class="col-sm-4 floatLeft">
                                <ul>
                                    <li>{{ 'Salient.sector.Digital1' | translate }}</li>
                                    <li>{{ 'Salient.sector.Digital2' | translate }}</li>
                                    <li>{{ 'Salient.sector.Digital3' | translate }}</li>
                                    <li>{{ 'Salient.sector.Digital4' | translate }}</li>


                                </ul>
                            </div>
                            <div class="col-sm-4 floatLeft">
                                <ul>
                                    <li>{{ 'Salient.sector.Digital5' | translate }}</li>
                                    <li>{{ 'Salient.sector.Digital6' | translate }}</li>
                                    <li>{{ 'Salient.sector.Digital7' | translate }}</li>
                                    <li>{{ 'Salient.sector.Digital8' | translate }}</li>
                                    <li>{{ 'Salient.sector.Digital9' | translate }}</li>
                                </ul>
                            </div>
                        </div>


                        <div class="col-sm-12">

                            <div class="col-sm-4 floatLeft">
                                {{ 'Salient.sector.Economic' | translate }}
                            </div>
                            <div class="col-sm-4 floatLeft">
                                <ul>
                                    <li> {{ 'Salient.sector.Economic1' | translate }}</li>
                                    <li> {{ 'Salient.sector.Economic2' | translate }}</li>
                                    <li> {{ 'Salient.sector.Economic3' | translate }}</li>
                                    <li> {{ 'Salient.sector.Economic4' | translate }}</li>
                                    <li> {{ 'Salient.sector.Economic5' | translate }}</li>
                                    <li> {{ 'Salient.sector.Economic6' | translate }}</li>
                                    <li> {{ 'Salient.sector.Economic7' | translate }}</li>
                                    <li> {{ 'Salient.sector.Economic8' | translate }}</li>

                                </ul>
                            </div>
                            <div class="col-sm-4 floatLeft">
                                <ul>
                                    <li> {{ 'Salient.sector.Economic9' | translate }}</li>
                                    <li> {{ 'Salient.sector.Economic10' | translate }}</li>
                                    <li> {{ 'Salient.sector.Economic11' | translate }}</li>
                                    <li> {{ 'Salient.sector.Economic12' | translate }}</li>
                                    <li> {{ 'Salient.sector.Economic13' | translate }}</li>
                                    <li> {{ 'Salient.sector.Economic14' | translate }}</li>
                                    <li> {{ 'Salient.sector.Economic15' | translate }} </li>
                                    <li> </li>
                                </ul>
                            </div>
                        </div>



                        <div class="col-sm-12 divColor">

                            <div class="col-sm-4 floatLeft">
                                {{ 'Salient.sector.Education' | translate }}
                            </div>
                            <div class="col-sm-4 floatLeft">
                                <ul>
                                    <li>{{ 'Salient.sector.Education1' | translate }} </li>
                                    <li>{{ 'Salient.sector.Education2' | translate }} </li>
                                    <li>{{ 'Salient.sector.Education3' | translate }} </li>
                                    <li>{{ 'Salient.sector.Education4' | translate }} </li>
                                    <li>{{ 'Salient.sector.Education5' | translate }} </li>
                                    <li>{{ 'Salient.sector.Education6' | translate }} </li>
                                    <li>{{ 'Salient.sector.Education7' | translate }} </li>
                                    <li>{{ 'Salient.sector.Education8' | translate }} </li>
                                    <li>{{ 'Salient.sector.Education9' | translate }} </li>
                                    <li>{{ 'Salient.sector.Education10' | translate }} </li>
                                    <li>{{ 'Salient.sector.Education11' | translate }} </li>
                                </ul>
                            </div>
                            <div class="col-sm-4 floatLeft">
                                <ul>
                                    <li>{{ 'Salient.sector.Education12' | translate }} </li>
                                    <li>{{ 'Salient.sector.Education13' | translate }} </li>
                                    <li>{{ 'Salient.sector.Education14' | translate }} </li>
                                    <li>{{ 'Salient.sector.Education15' | translate }} </li>
                                    <li>{{ 'Salient.sector.Education16' | translate }} </li>
                                    <li>{{ 'Salient.sector.Education17' | translate }} </li>
                                    <li>{{ 'Salient.sector.Education18' | translate }} </li>
                                    <li>{{ 'Salient.sector.Education19' | translate }} </li>
                                    <li>{{ 'Salient.sector.Education20' | translate }} </li>
                                    <li>{{ 'Salient.sector.Education21' | translate }} </li>
                                    <li> {{ 'Salient.sector.Education22' | translate }} </li>
                                    <li>{{ 'Salient.sector.Education23' | translate }} </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-sm-12">

                            <div class="col-sm-4 floatLeft">
                                {{ 'Salient.sector.Energy' | translate }}
                            </div>
                            <div class="col-sm-4 floatLeft">
                                <ul>
                                    <li>{{ 'Salient.sector.Energy1' | translate }} </li>
                                    <li> {{ 'Salient.sector.Energy2' | translate }} </li>
                                    <li>{{ 'Salient.sector.Energy3' | translate }} </li>
                                    <li>{{ 'Salient.sector.Energy4' | translate }} </li>
                                    <li>{{ 'Salient.sector.Energy5' | translate }} </li>

                                </ul>
                            </div>
                            <div class="col-sm-4 floatLeft">
                                <ul>
                                    <li>{{ 'Salient.sector.Energy6' | translate }} </li>
                                    <li>{{ 'Salient.sector.Energy7' | translate }} </li>
                                    <li>{{ 'Salient.sector.Energy8' | translate }} </li>
                                    <li>{{ 'Salient.sector.Energy9' | translate }} </li>
                                    <li>{{ 'Salient.sector.Energy10' | translate }} </li>
                                    <li>{{ 'Salient.sector.Energy11' | translate }} </li>
                                    <li>{{ 'Salient.sector.Energy12' | translate }} </li>
                                </ul>
                            </div>
                        </div>
                        <br>
                        <div class="col-sm-12 divColor">
                            <div class="col-sm-4 floatLeft">
                                {{ 'Salient.sector.Health' | translate }}
                            </div>
                            <div class="col-sm-4 floatLeft">
                                <ul>
                                    <li> {{ 'Salient.sector.Health1' | translate }}</li>
                                    <li> {{ 'Salient.sector.Health2' | translate }}</li>
                                    <li> {{ 'Salient.sector.Health3' | translate }}</li>
                                    <li> {{ 'Salient.sector.Health4' | translate }}</li>
                                    <li> {{ 'Salient.sector.Health5' | translate }}</li>
                                    <li> {{ 'Salient.sector.Health6' | translate }}</li>
                                    <li> {{ 'Salient.sector.Health7' | translate }}</li>
                                    <li> {{ 'Salient.sector.Health8' | translate }}</li>
                                </ul>
                            </div>
                            <div class="col-sm-4 floatLeft">
                                <ul>
                                    <li> {{ 'Salient.sector.Health9' | translate }}</li>
                                    <li> {{ 'Salient.sector.Health10' | translate }}</li>
                                    <li> {{ 'Salient.sector.Health11' | translate }}</li>
                                    <li> {{ 'Salient.sector.Health12' | translate }} </li>
                                    <li> {{ 'Salient.sector.Health13' | translate }} </li>
                                    <li> {{ 'Salient.sector.Health14' | translate }} </li>
                                    <li> {{ 'Salient.sector.Health15' | translate }}</li>
                                    <li> {{ 'Salient.sector.Health16' | translate }}</li>
                                    <li>{{ 'Salient.sector.Health17' | translate }}</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-sm-12">

                            <div class="col-sm-4 floatLeft">
                                {{ 'Salient.sector.Environment' | translate }}
                            </div>
                            <div class="col-sm-4 floatLeft">
                                <ul>
                                    <li>{{ 'Salient.sector.Environment1' | translate }} </li>
                                    <li>{{ 'Salient.sector.Environment2' | translate }} </li>
                                    <li>{{ 'Salient.sector.Environment3' | translate }} </li>
                                    <li>{{ 'Salient.sector.Environment4' | translate }} </li>
                                    <li>{{ 'Salient.sector.Environment5' | translate }} </li>
                                </ul>
                            </div>
                            <div class="col-sm-4 floatLeft">
                                <ul>
                                    <li>{{ 'Salient.sector.Environment6' | translate }} </li>
                                    <li>{{ 'Salient.sector.Environment7' | translate }} </li>
                                    <li>{{ 'Salient.sector.Environment8' | translate }} </li>
                                    <li>{{ 'Salient.sector.Environment9' | translate }} </li>
                                    <li>{{ 'Salient.sector.Environment10' | translate }} </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-sm-12 divColor">

                            <div class="col-sm-4 floatLeft">
                                {{ 'Salient.sector.Water' | translate }}
                            </div>
                            <div class="col-sm-4 floatLeft">
                                <ul>
                                    <li> {{ 'Salient.sector.Water1' | translate }}</li>
                                    <li> {{ 'Salient.sector.Water2' | translate }}</li>
                                    <li> {{ 'Salient.sector.Water3' | translate }} </li>
                                    <li> {{ 'Salient.sector.Water4' | translate }}</li>
                                    <li> {{ 'Salient.sector.Water5' | translate }} </li>
                                </ul>
                            </div>
                            <div class="col-sm-4 floatLeft">
                                <ul>
                                    <li> {{ 'Salient.sector.Water6' | translate }}</li>
                                    <li> {{ 'Salient.sector.Water7' | translate }}</li>
                                    <li> {{ 'Salient.sector.Water8' | translate }}</li>
                                    <li> {{ 'Salient.sector.Water9' | translate }}</li>
                                    <li> {{ 'Salient.sector.Water10' | translate }} </li>
                                    <li> {{ 'Salient.sector.Water11' | translate }} </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-sm-12">

                            <div class="col-sm-4 floatLeft">
                                {{ 'Salient.sector.Gender' | translate }}
                            </div>
                            <div class="col-sm-4 floatLeft">
                                <ul>
                                    <li>{{ 'Salient.sector.Gender1' | translate }} </li>
                                    <li>{{ 'Salient.sector.Gender2' | translate }} </li>
                                    <li>{{ 'Salient.sector.Gender3' | translate }} </li>

                                </ul>
                            </div>
                            <div class="col-sm-4 floatLeft">
                                <ul>
                                    <li>{{ 'Salient.sector.Gender4' | translate }} </li>
                                    <li>{{ 'Salient.sector.Gender5' | translate }} </li>
                                    <li>{{ 'Salient.sector.Gender6' | translate }}</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="card spcLgDwn">

            <div class="card-header card-header1 navyBlue" id="headingOne3">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne3" aria-expanded="true" aria-controls="collapseOne3">
                        <a class="color_white"  href="https://www.wipo.int/sdgs/en/story.html">{{ 'Salient.sector.Sustainable' | translate }} </a>
                    </button>
                </h2>
            </div>
            <div id="collapseOne3" class="collapse hide stripColor" aria-labelledby="headingOne3" data-parent="#accordionExample1">
                <div class="card-body">
                    <div class="col-sm-12 panel divColor">
                        <div class="col-sm-6 floatLeft">
                            <ol style="list-style: none; padding: 0 !important">
                                <li>{{ 'Salient.sector.Sustainable1' | translate }}</li>
                                <li>{{ 'Salient.sector.Sustainable2' | translate }}</li>
                                <li>{{ 'Salient.sector.Sustainable3' | translate }}</li>
                                <li>{{ 'Salient.sector.Sustainable4' | translate }}</li>
                                <li>{{ 'Salient.sector.Sustainable5' | translate }}</li>
                                <li>{{ 'Salient.sector.Sustainable6' | translate }}</li>
                                <li>{{ 'Salient.sector.Sustainable7' | translate }}</li>
                                <li>{{ 'Salient.sector.Sustainable8' | translate }}</li>
                                <li>{{ 'Salient.sector.Sustainable9' | translate }}</li>
                            </ol>
                        </div>
                        <div class="col-sm-6 floatLeft ">
                            <ol style="list-style: none;  padding: 0 !important">
                                <li>{{ 'Salient.sector.Sustainable10' | translate }}</li>
                                <li>{{ 'Salient.sector.Sustainable11' | translate }}</li>
                                <li>{{ 'Salient.sector.Sustainable12' | translate }}</li>
                                <li>{{ 'Salient.sector.Sustainable13' | translate }}</li>
                                <li>{{ 'Salient.sector.Sustainable14' | translate }}</li>
                                <li>{{ 'Salient.sector.Sustainable15' | translate }}</li>
                                <li>{{ 'Salient.sector.Sustainable16' | translate }}</li>
                                <li>{{ 'Salient.sector.Sustainable17' | translate }}</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card spcLgDwn">

            <div class="card-header card-header1 navyBlue" id="">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="" aria-expanded="true" aria-controls="">
                       <a class="color_white"  href="https://www.wipo.int/cooperation/en/south_south/">{{ 'Salient.sector.South' | translate }}  </a>
                    </button>
                </h2>
            </div>
        </div>
    </div>
</div>