<div class="container">
    <div class="row breadcrum-container">
        <ul class="col-sm-12">
            <li>
                <a href="https://www.wipo.int/portal/en/" target="_blank">{{ 'breadcrum.home' | translate }}</a>
            </li>
            <li style="margin : 2px 9px 0 9px" class="fa fa-angle-right">
            </li>
            <li>
                <a href="https://www.wipo.int/cooperation/en/" target="_blank">{{ 'breadcrum.Cooperation' | translate}}</a>
            </li>
            <li style="margin : 2px 9px 0 9px" class="fa fa-angle-right"></li>
            <li>
                <a [routerLink]="['/home']">{{ 'breadcrum.WIPO_Match' | translate }}</a>
            </li>
            <li style="margin : 2px 9px 0 9px" class="fa fa-angle-right">
            </li>
            <li>
                <a [routerLink]="['/success-stories']">{{ 'breadcrum.success-stories' | translate }}</a>
            </li>
            <li style="margin : 2px 9px 0 9px" class="fa fa-angle-right">
            </li>
            <li>
                <a [routerLink]="['/brochure']">Article</a>
            </li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="paraHeading"><u>Article</u></h2>
            <h3 class="">WIPO Match: financing innovation to leverage IP for development</h3>
            <p>In the age of global knowledge economy, information overload and limited time, how can countries, organizations and innovators find the correct partners to help finance their innovation initiatives?</p>
            <p>Serving as a facilitator of cooperation, WIPO Match is a free online tool that can reduce time and effort in searching for appropriate partners to initiate, execute and accelerate innovation-driven projects, with intellectual property management
                as a core element of success.</p>
            <p>To learn more about WIPO Match, click <a href="https://www.wipo.int/wipo-match/en/"><u>here</u></a>
            </p>
            <h2 class="paraHeading"><u>Blog article</u></h2>
            <h3>WIPO Match: financing innovation to leverage IP for development</h3>
            <p>Operating completely free of charge through the World Intellectual Property Organization (WIPO), <a href="https://www.wipo.int/wipo-match/en/"><u>WIPO MATCH</u></a> connects “seekers” and “providers” of technical assistance in diverse fields,
                where the appropriate use of the intellectual property system is responsible for economic and social development.
                <p>A “Match” happens when the interaction between two or more parties results into a “mutual agreement” to collaborate on a specific project. </p>
                <p>An example of a successful Match, among others, was a cooperation between African Regional Intellectual Property Office (ARIPO) – the seeker – and Directorate General of Intellectual Property, Ministry of Law and Human Rights of the Republic
                    of Indonesia (DGIP) – the provider. ARIPO expressed a need to develop a database for registration of copyright works. As DGIP had already developed a similar database in the Indonesian language, it was in a position to offer ARIPO,
                    through WIPO Match, a software for the electronic registration of copyright works. This was done on a pro bono basis, in a spirit of South-South Cooperation, where both the seeker and the provider expressed explicit mutual interest
                    in joint activities, signing a Memorandum of Understanding.</p>
                <p>The platform brings together a worldwide community of members, where seekers may find access to financial resources and technical skills, while providers are able to offer tailored assistance along the lines of expressed needs. </p>
                <p>Thus, not only does WIPO Match allow its members to network and promote their organizations, but it also provides mutual benefits to its fast-growing community. To date about 100 members from 37 countries, have registered on WIPO Match,
                    representing different institutions and backgrounds, namely national/regional IP offices, NGOs, IGOs, universities/technology transfer office and private sector).</p>
                <p>Thanks to the development of strategic partnerships, WIPO Match has facilitated multiple matches through concrete partnerships with, among others, the Islamic Development Bank (IsDB), the United Nations Office of South-South Cooperation
                    (UNOSSC) and the United Nations Development Economic Social Affairs (UNDESA). </p>
                <p>WIPO Match is expected to further expand its coverage through its integration in the UN On-line Platform (OLP) of the Technology Facilitation Mechanism, which aims to facilitate meaningful and sustained capacity building and assistance
                    for development in the area of Science, Technology and Innovation (STI). </p>
                <p>As a recognition of driving a fast-track progress in fostering cooperation, the WIPO Match has been featured <a href="http://www.southsouth-galaxy.org/world-intellectual-property-organization-wipo/"><u>‘Partner of the Month / October 2019’</u></a>                    on the United Nations South-South Galaxy platform which is a global knowledge sharing platform to strengthen the ways countries share their technology, to benefit developing countries. </p>
                <h3 class="">To find your own perfect WIPO Match, email: <a href="mailto:match@wipo.int">match@wipo.int</a></h3>

        </div>
    </div>
</div>