<div class="container">
    <div class="row breadcrum-container">
        <ul class="col-sm-12">
            <li>
                <a href="https://www.wipo.int/portal/en/" target="_blank">{{ 'breadcrum.home' | translate }}</a>
            </li>
            <li style="margin : 2px 9px 0 9px" class="fa fa-angle-right">
            </li>
            <li>
                <a href="https://www.wipo.int/cooperation/en/" target="_blank">{{ 'breadcrum.Cooperation' | translate}}</a>
            </li>
            <li style="margin : 2px 9px 0 9px" class="fa fa-angle-right"></li>
            <li>
                <a [routerLink]="['/home']">{{ 'breadcrum.WIPO_Match' | translate }}</a>
            </li>
            <li style="margin : 2px 9px 0 9px" class="fa fa-angle-right">
            </li>
            <li>
                <a [routerLink]="['/success-stories']">{{ 'breadcrum.success-stories' | translate }}</a>
            </li>
            <li style="margin : 2px 9px 0 9px" class="fa fa-angle-right">
            </li>
            <li>
                <a [routerLink]="['/project-guidelines']">{{ 'breadcrum.guidelines' | translate }}</a>
            </li>
        </ul>
    </div>
</div>
<div class="pageHeadingRegion">
    <div class="container">
        <h1 class="pageHeadingName">STEPS TO CREATE A PROJECT PLAN</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="paraHeading">STEP 1: Explain the Project Plan to key stakeholders and discuss its key components </h3>
            <h3 class="">Components of the Project Plan include: </h3>
            <p><i>Baselines</i>: Baselines are sometimes called performance measures, because the performance of the entire project is measured against them. They are the project's three approved starting points and include the scope, schedule, and cost
                baselines. These provide the 'stakes in the ground.' That is, they are used to determine whether or not the project is on track, during the execution of the project. Baseline management plans. These plans include documentation on how variances
                to the baselines will be handled throughout the project. Each project baseline will need to be reviewed and managed. A result of this process may include the need to do additional planning, with the possibility that the baseline(s) will
                change. Project management plans document what the project team will do when variances to the baselines occur, including what process will be followed, who will be notified, how the changes will be funded, etc. </p>
            <p>Other work products from the planning process. These include a risk management plan, a quality plan, a procurement plan, a staffing plan, and a communications plan.</p>

            <h3 class="paraHeading">STEP 2: Define roles and responsibilities </h3>
            <p>Not all key stakeholders will review all documents, so it is necessary to determine who on the project needs to approve which parts of the plan. Some of the key players are:</p>
            <ul>
                <li><b>Project sponsor,</b> who owns and funds the entire project. Sponsors need to review and approve all aspects of the plan.
                </li>
                <li> <b>Designated business experts,</b> who will define their requirements for the end product. They need to help develop the scope baseline and approve the documents relating to scope. They will be quite interested in the timeline as well.
                </li>
                <li><b>Project manager,</b> who creates, executes, and controls the project plan. Since project managers build the plan, they do not need to approve it. </li>
                <li><b>Project team,</b> who build the end product. The team needs to participate in the development of many aspects of the plan, such as identifying risks, quality, and design issues, but the team does not usually approve it. </li>
                <li><b>End users,</b> who use the end product. They too, need to participate in the development of the plan, and review the plan, but rarely do they actually need to sign off. </li>
                <li><b>Others,</b> such as auditors, quality and risk analysts, procurement specialists, and so on may also participate on the project. They may need to approve the parts that pertain to them, such as the Quality or Procurement plan. </li>

            </ul>

            <h3 class="paraHeading">STEP 3: Hold a kickoff meeting </h3>
            <p>The kickoff meeting is an effective way to bring stakeholders together to discuss the project. It is an effective way to initiate the planning process. It can be used to start building trust among the team members and ensure that everyone's
                idea are taken into account. Kickoff meetings also demonstrate commitment from the sponsor for the project. Here are some of the topics that might be included in a kickoff meeting: </p>
            <ul>
                <li>Business and project vision and strategy (from sponsor) </li>
                <li>Roles and responsibilities </li>
                <li>Team building and commitment </li>
                <li>How team makes decisions </li>
                <li>How large the group should be and whether sub-groups are necessary </li>
            </ul>


            <h3 class="paraHeading">STEP 4: Develop a Scope Statement </h3>
            <p>The Scope Statement is arguably the most important document in the project plan. It is the foundation for the rest of the project. It describes the project and is used to get common agreement among the stakeholders about the scope. The Scope
                Statement clearly describes what the outcome of the project will be. It is the basis for getting the buy-in and agreement from the sponsor and other stakeholders and decreases the chances of miscommunication. This document will most likely
                grow and change with the life of the project. The Scope Statement should include: </p>
            <ul>
                <li>Business need and business problem </li>
                <li>Project objectives, stating what will occur within the project to solve the business problem </li>
                <li>Benefits of completing the project, as well as the project justification</li>
                <li>Project scope, stated as which deliverables will be included and excluded from the project. </li>
                <li>Key milestones, the approach, and other components as dictated by the size and nature of the project. </li>

            </ul>
            <p>It can be treated like a contract between the project manager and sponsor, one that can only be changed with sponsor approval. </p>

            <h3 class="paraHeading">STEP 5: Develop the schedule, cost baselines, baseline management plans and staffing plan </h3>
            <p>Here are the steps involved in developing the schedule and cost baselines:</p>
            <ol>
                <li>Identify activities and tasks needed to produce each of the work packages, creating a work breakdown structure (WBS) of tasks. </li>
                <li>Identify resources for each task, if known. </li>
                <li>Estimate how long it will take to complete each task. </li>
                <li>Estimate cost of each task, using an average hourly rate for each resource.</li>
                <li>Consider resource constraints, or how much time each resource can realistically devoted to this project. </li>
                <li>Determine which tasks are dependent on other tasks, and develop critical path. </li>
                <li>Develop a planification with a calendar of all the tasks and estimates. It shows by chosen time period (week, month, quarter, or year) which resource is doing which tasks, how much time they are expected to spend on each task, and when
                    each task is scheduled to begin and end. </li>
                <li>Develop the cost baseline, which is a time-phased budget, or cost by time period. </li>
                <li>Create the steps the team will take to manage variances to these plans </li>
                <li>Create the staffing plan as a chart that shows the time periods, usually month, quarter, year, that each resource will come onto and leave the project </li>
            </ol>
            <p>This process is not a one-time effort. Throughout the project you will most likely be adding to repeating some or all of these steps. </p>


            <h3 class="paraHeading">STEP 6: Analyze project quality and risks </h3>
            <p><i>Project Quality</i>: To ensure that the end product not only meets the customer specifications, but is one that the sponsor and key business experts actually want to use create the Quality Plan. This involves setting the standards, acceptance
                criteria, and metrics that will be used throughout the project. The plan, then, becomes the foundation for all the quality reviews and inspects performed tasks during the project and is used throughout project execution.
            </p>
            <p><i>Project Risks</i>: A risk is an event that may or may not happen, but could have a significant effect on the outcome of a project. Analyzing risks includes making a determination of both the probability that a specific event may occur and
                if it does, assessing its impact. The quantification of both the probability and impact will lead to determining which are the highest risks that need attention. Risk management includes not just assessing the risk, but developing risk
                management plans to understand and communicate how the team will respond to the high-risk events.
            </p>


            <h3 class="paraHeading">STEP 7: Communications Plan </h3>
            <ul>
                <li>Who on the project wants which reports, how often, in what format, and using what media. </li>
                <li>How issues will be escalated and when. </li>
                <li>Where project information will be stored and who can access it. </li>
            </ul>
            <p>For complex projects, a formal communications matrix is a tool that can help determine some of the above criteria. It helps document the project team's agreed-on method for communicating various aspects of the project, such as routine status,
                problem resolution, decisions, etc. Once the project plan is complete, it is important not just to communicate the importance of the project plan to the sponsor, but also to communicate its contents once it's created. This communication
                should include such things as: </p>

            <ul>
                <li>Review and approval of the project plan. </li>
                <li>Process for changing the contents of the plan. </li>
                <li>Next steps—executing and controlling the project plan and key stakeholder roles/responsibilities in the upcoming phases. </li>
            </ul>
        </div>
    </div>
</div>