<div class="container font">
    <div class="row breadcrum-container">
        <ul class="col-sm-12">
        
            <li>
                <a href="https://www.wipo.int/portal/en/" target="_blank">Home</a>
            </li>
            <li style="margin : 2px 9px 0 9px" class="fa fa-angle-right">
            </li>
            <li>
                <a href="https://www.wipo.int/cooperation/en/" target="_blank">Cooperation</a>
            </li>
            <li style="margin : 2px 9px 0 9px" class="fa fa-angle-right"></li>
        
            <li>
                <a [routerLink]="['/register']">Home </a>
            </li>
            <li style="margin : 2px 9px 0 9px" class="fa fa-angle-right">
            </li>
        
            <li>
                <a [routerLink]="['/register']">My Dashboard </a>
            </li>
            <li style="margin : 2px 9px 0 9px" class="fa fa-angle-right"></li>
        
            <li>
                <a >Guidelines</a>
            </li>
        </ul>
    </div>
</div>
<div class="container font">
    <div>
        <h1>WIPO Account Help</h1>
    </div>
    <div class="col-md-12">
        <a class="accordion__toggle collapsed" data-toggle="collapse" data-target="#one">
      How do I create an account?</a>
        <div id="one" class="accordion__inner collapse">
            <div>
                <p>
                    To create an account, click on the <a href="#">Create Account </a>button. Please note that the minimum number of characters for the username is four; passwords must have between 8 and 16 characters and include a minimum of one letter
                    and one number. Complete and submit the form and you will then receive a verification e-mail.
                </p>
            </div>
            <div class="alert alert-warning">
                <strong>
          Please note that a WIPO account may belong only to a single individual, not to a group or organization.
        </strong>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <a class="accordion__toggle collapsed" data-toggle="collapse" data-target="#two">
      How do I validate my account?
    </a>
        <div id="two" class="accordion__inner collapse">
            <div>
                <p>
                    All accounts must be validated. You will receive an e-mail from noreply@wipo.int and you must click on the link contained in the e-mail to validate. Please check your spam/junk folder in case the e-mail does not arrive in your regular inbox. If you do
                    not receive the e-mail, go to the
                    <a href="#">"Request confirmation e-mail" </a>page.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <a class="accordion__toggle collapsed" data-toggle="collapse" data-target="#three">
      How do I change my user name?
    </a>
        <div id="three" class="accordion__inner collapse">
            <div>
                <p>
                    It is not possible to change your username. The username that you entered when creating your account is definitive and cannot be modified. The username must not contain special symbols ( * @ ( ) & # ^ etc.) or blank spaces.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <a class="accordion__toggle collapsed" data-toggle="collapse" data-target="#four">
      How do I change my password?
    </a>
        <div id="four" class="accordion__inner collapse">
            <div>
                <p>
                    To change your password after creating the account, click on the “Reset password” link on the account creation page. Enter your existing password and new password and submit the form. Passwords must have between 8 and 16 characters and include a minimum
                    of one letter and one numerical character.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <a class="accordion__toggle collapsed" data-toggle="collapse" data-target="#five">
      How do I manage my account?
    </a>
        <div id="five" class="accordion__inner collapse">
            <div>
                <p>
                    To update your account details, click <a href="#">“change”</a>. This will show you the information that is currently associated with your account. You may change all parameters except username. Simply make your changes and click “save”
                    to update your account.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <a class="accordion__toggle collapsed" data-toggle="collapse" data-target="#six">
      What should I do if I forget my password?
    </a>
        <div id="six" class="accordion__inner collapse">
            <div>
                <p>
                    If you have forgotten your password, click on <a href="#">Forgot your password?</a> on the log-in page.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <a class="accordion__toggle collapsed" data-toggle="collapse" data-target="#seven">
      What should I do if I forget my username?
    </a>
        <div id="seven" class="accordion__inner collapse">
            <div>
                <p>
                    If you have forgotten your username, click on <a href="#">Forgot your username?</a> on the log-in page.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <a class="accordion__toggle collapsed" data-toggle="collapse" data-target="#eight">
      What should I do if my authentication fails?
    </a>
        <div id="eight" class="accordion__inner collapse">
            <div>
                <p>
                    If you got an error message that says <span style="color: red;">"Authentication failed”</span>, your password may have expired, click on <a href="#"> Reset password.</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <a class="accordion__toggle collapsed" data-toggle="collapse" data-target="#nine">
      What should I do if the varification characters don't display correctly?
    </a>
        <div id="nine" class="accordion__inner collapse">
            <div>
                <p>
                    Firefox users may experience problems with the verification image reload function if they use the "back" button. If this occurs, click on the green arrows to display a new image or use an alternative browser. Use small letters not capitals.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container font box">
    <div>
        <h1>More questions?</h1>
    </div>
    <div>If you couldn't find an answer to your question on this page, then feel free to contact us and we'll do our best to provide you with an answer.</div>
</div>