<div class="container">
    <div class="row breadcrum-container">
        <ul class="col-sm-12">
            <li>
                <a href="https://www.wipo.int/portal/en/" target="_blank"> {{ 'breadcrum.home' | translate }}</a>
            </li>
            <li style="margin : 2px 9px 0 9px" class="fa fa-angle-right">
            </li>
            <li>
                <a href="https://www.wipo.int/cooperation/en/" target="_blank">{{ 'breadcrum.Cooperation' | translate}}</a>
            </li>
            <li style="margin : 2px 9px 0 9px" class="fa fa-angle-right"></li>
            <li>
                <a [routerLink]="['/home']">{{ 'breadcrum.WIPO_Match' | translate }} </a>
            </li>
            <li style="margin : 2px 9px 0 9px" class="fa fa-angle-right">
            </li>
            <li>
                <a [routerLink]="['/supporter-info']">{{'breadcrum.Supporter-info' | translate}}</a>
            </li>
            <li style="margin : 2px 9px 0 9px" class="fa fa-angle-right"></li>
            <li>
                <a [routerLink]="['/supporter-sign-up']">{{ 'breadcrum.Supporter-Sign-Up' | translate}}</a>
            </li>
            <li style="margin : 2px 9px 0 9px">
            </li>
        </ul>
    </div>
</div>
<div class="container">
    <h1 class="titlePadding">{{'title.supporter-sign-up' |translate}}</h1>
</div>
<div class="container">
    <div>
        <form [formGroup]="supporterForm">
            <div class="row">
                <div class="form-group  col-sm-6">
                    <label for="orgName">{{'supporterForm.label.yourOrganization' | translate}} <span class="asterick">*</span></label>
                    <input type="text" formControlName="orgName" class="form-control form-control-override" [ngClass]="{ 'is-invalid': submitted && f.orgName.errors }" id="org" name="organisation">
                    <div *ngIf="submitted && f.orgName.errors" class="invalid-feedback">
                        <div *ngIf="f.orgName.errors.required">{{'supporterForm.label.yourOrganizationRequired' | translate}}</div>
                    </div>
                </div>
                <div class=" col-sm-6">
                    <div class="form-group">
                        <label for="OrgTyp">{{'supporterForm.label.typeOfOrganization' | translate}}<span class="asterick">*</span></label>
                        <select class="dropDownList" formControlName="OrgTyp" [ngClass]="{ 'is-invalid': submitted && f.OrgTyp.errors }">
                        <option value="" >{{'global.Select'|translate}}</option>
                        <option value={{organisation.suppOrgId}} *ngFor="let organisation of orgTypes">
                            {{organisation.suppOrgName}}</option>
                    </select>
                        <div *ngIf="submitted && f.OrgTyp.errors">
                            <p class="errors">{{'supporterForm.label.typeOfOrganizationRequired' | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="contactName">{{'supporterForm.label.contactName' | translate}} <span class="asterick">*</span></label>
                    <input type="text" formControlName="contactName" class="form-control" id="contactName" name="contactName" [ngClass]="{ 'is-invalid': submitted && f.contactName.errors }">
                    <div *ngIf="submitted && f.contactName.errors" class="invalid-feedback">
                        <div *ngIf="f.contactName.errors.required">{{'supporterForm.label.contactNameRequired' | translate}}</div>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label for="jobTitle">{{'supporterForm.label.jobTitle'| translate}} <span class="asterick">*</span></label>
                    <input type="text" class="form-control" formControlName="jobTitle" id="jobTitle" name="jobTitle" [ngClass]="{ 'is-invalid': submitted && f.jobTitle.errors }">
                    <div *ngIf="submitted && f.jobTitle.errors" class="invalid-feedback">
                        <div *ngIf="f.jobTitle.errors.required">{{'supporterForm.label.jobTitleRequired'| translate}}</div>
                    </div>
                </div>
            </div>
            <div class=" row">
                <div class="form-group col-sm-6">
                    <label for="OrgAdd">{{'supporterForm.label.fullAdd'| translate}}<span class="asterick">*</span></label>
                    <input type="text" class="form-control" formControlName="OrgAdd" id="OrgAdd" name="OrgAdd" [ngClass]="{ 'is-invalid': submitted && f.OrgAdd.errors }">
                    <div *ngIf="submitted && f.OrgAdd.errors" class="invalid-feedback">
                        <div *ngIf="f.OrgAdd.errors.required">{{'supporterForm.label.fullAddRequired'| translate}}</div>
                    </div>
                </div>
                <div class=" col-sm-6">
                    <div class="form-group">
                        <label for="orgCountry">{{'supporterForm.label.orgCountry'| translate}} <span
                            class="asterick">*</span></label>
                        <select class="dropDownList" formControlName="orgCountry" [ngClass]="{ 'is-invalid': submitted && f.orgCountry.errors }">
                        <option value="" >{{'global.Select'|translate}}</option>
                        <option value={{country.countryId}} *ngFor="let country of orgCountries">{{country.countryName}}
                        </option>
                    </select>
                        <div *ngIf="submitted && f.orgCountry.errors">
                            <p class="errors">{{'supporterForm.label.orgCountryRequired' | translate}}</p>
                    </div>
                </div>
            </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-6">
            <label for="email">{{'supporterForm.label.e-mail' | translate}} <span class="asterick">*</span></label>
            <input type="email" class="form-control form-control-override" formControlName="email" id="email" name="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">

            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">{{'supporterForm.label.e-mailRequired' |translate}}</div>
                <div *ngIf="f.email.errors.pattern">{{'supporterForm.label.validEmailRequired' | translate}}</div>
        </div>
    </div>
    <div class="form-group col-sm-6">
        <label >{{'supporterForm.label.telephone' | translate}}
            <span class="asterick">*</span>
                </label>
                <input type="text"  formControlName="phoneNumber"  class="form-control
                        form-control-override"  name="phoneNumber"   [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }" />
                <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                    <div *ngIf="f.phoneNumber.errors.required">{{'supporterForm.label.telephoneRequired' | translate}}</div>
                    <div *ngIf="f.phoneNumber.errors.minlength">{{'supporterForm.label.minLengthRequired' | translate}}</div>
                <div *ngIf="f.phoneNumber.errors.pattern">{{'supporterForm.label.onlyNumRequired' | translate}}</div>
                <div *ngIf="f.phoneNumber.errors.maxlength">{{'supporterForm.label.maxLengthRequired' | translate}}</div>
</div>
</div>
</div>
<div class="row">
    <div class="form-group col-sm-6">
        <label for="webAdd">{{'supporterForm.label.webAddress' |translate}} <span class="asterick">*</span></label>
        <input type="url" class="form-control form-control-override" id="webAdd" formControlName="webAdd" name="webAdd" [ngClass]="{ 'is-invalid': submitted && f.webAdd.errors }">
        <div *ngIf="submitted && f.webAdd.errors" class="invalid-feedback">
            <div *ngIf="f.webAdd.errors.required">{{'supporterForm.label.webAddressRequired' | translate}}</div>
            <div *ngIf="f.webAdd.errors.pattern">{{'supporterForm.label.validWebAddRequired' | translate}}</div>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="txtBox">{{'supporterForm.label.textBox' | translate}}</label>
    <textarea class="txtbox" class="form-control form-control-override" formControlName="logodesc" name="message" rows="5"></textarea>
</div>

<div class="form-group mb-0">
    <label for="file"><img width="80px" height="80px" [src]="projectFlagSize ? supporterLogo : dLogo" class="ImgIcon" /> </label>
</div>
<div class="form-group mb-0">
    <input type="file" formControlName="supporterLogo" accept="image/*" (change)="onSelectFile($event)">
</div>
<div class="form-group">
    <span id="sizeValidations1">Note: File size should not exceed 200kb</span>
</div>
<div class="row divBtn">
    <div class="col-md-12 form-group">
        <a class="btn call-to-action" (click)="onSubmit()" title="">{{'global.submit'| translate}}</a>
    </div>
</div>
</form>
</div>
</div>