<div class="container">
    <div class="row breadcrum-container">
        <ul class="col-sm-12">
            <li>
                <a href="https://www.wipo.int/portal/en/" target="_blank">{{ 'breadcrum.home' | translate }}</a>
            </li>
            <li style="margin : 2px 9px 0 9px" class="fa fa-angle-right">
            </li>
            <li>
                <a href="https://www.wipo.int/cooperation/en/" target="_blank">{{ 'breadcrum.Cooperation' | translate}}</a>
            </li>
            <li style="margin : 2px 9px 0 9px" class="fa fa-angle-right"></li>
            <li>
                <a [routerLink]="['/home']">{{ 'breadcrum.WIPO_Match' | translate }} </a>
            </li>
            <li style="margin : 2px 9px 0 9px" class="fa fa-angle-right">
            </li>
            <li>
                <a [routerLink]="['/seekers']">{{ 'breadcrum.seekers' | translate }}</a>
            </li>
            <li style="margin : 2px 9px 0 9px" class="fa fa-angle-right"></li>
            <li>
                <a [routerLink]="['/view-need']">{{ 'breadcrum.viewNeed' | translate }}</a>
            </li>
            <li style="margin : 2px 9px 0 9px"></li>
        </ul>
    </div>
</div>
<div class="container">
    <h1 class="titlePadding">{{ 'breadcrum.viewNeed' | translate }}</h1>
    <ng4-loading-spinner></ng4-loading-spinner>
</div>
<div class="container">

    <div class="column left">
        <div class="org_logo">
            <div class=" component-logo logoImg">
                <img width="120px" src="{{companylogo}}">
            </div>
        </div>
        <div class="box">
            <h3 class="box__header" *ngIf="need.country!=null">{{ 'viewOffer.COUNTRIES' | translate }}</h3>
            <ul class="circle">

                <li *ngFor="let country of need.country">{{country}}</li>
            </ul>
            <hr class="hrborder" *ngIf="need.country!=null">
            <h3 class="box__header" *ngIf="need.ipFielddesc!=null">{{ 'viewOffer.IP-FIELDS' | translate }}</h3>
            <ul class="circle">
                <li *ngFor="let ipfield of need.ipFielddesc"> {{ipfield}}</li>
            </ul>
            <hr class="hrborder" *ngIf="need.ipFielddesc!=null">
            <h3 class="box__header" *ngIf="need.sDGDesc!=null">{{ 'viewOffer.SDG' | translate }}</h3>
            <ul class="circle">
                <li *ngFor="let sdeg of need.sDGDesc">{{sdeg}}</li>
            </ul>
            <hr class="hrborder" *ngIf="need.sDGDesc!=null">
            <h3 class="box__header" *ngIf="need.technicalFieldDesc.length">{{ 'viewOffer.TECHNICAL-FIELDS' | translate }}</h3>
            <ul class="circle">
                <li *ngFor="let tfields of need.technicalFieldDesc">{{tfields}} </li>
            </ul>
            <hr class="hrborder" *ngIf="need.technicalFieldDesc.length">
            <h3 class="box__header" *ngIf="need.subtechnicalFieldDesc!=null">{{ 'viewOffer.SUB-TECHNICAL-FIELDS' | translate }}</h3>
            <ul class="circle">
                <li *ngFor="let stfields of need.subtechnicalFieldDesc">{{stfields}} </li>
            </ul>
            <hr class="hrborder" *ngIf="need.subtechnicalFieldDesc!=null">
            <h3 class="box__header" *ngIf="need.technicalAssistanceDesc!=null">{{ 'viewOffer.TECHNICAL-ASSISTANCE' | translate }}</h3>
            <ul class="circle">
                <li *ngFor="let tassist of need.technicalAssistanceDesc">{{tassist}} </li>
            </ul>
        </div>
    </div>
    <div class="column right">
        <h1>{{needtitle}}</h1>
        <div class="row">
            <div class="col-7 summarytitle">
                <h2>{{ 'viewOffer.Summary-of-the-Proposal' | translate }}</h2>
            </div>
            <div class="col-5 btnDiv ">
                <a class="btn call-to-action"  href="https://www3.wipo.int/match/secure/donor-offer-form/3"  title="">{{ 'viewOffer.RESPOND-TO-THIS-NEED' | translate }}</a>
            </div>
        </div>
        <div class="detail" [innerHTML]="need.summaryOfProposal"></div>
        <h2 class="heading">{{ 'viewOffer.iNeed' | translate }}</h2>
        <div class="detail" [innerHTML]="need.whatDoINeed"></div>
        <h2 class="heading">{{ 'viewOffer.partner' | translate }}</h2>
        <div class="detail" [innerHTML]="need.patnerWith"></div>
        <h2 class="heading"> {{ 'viewOffer.proImage' | translate }}</h2>
        <div class="content cols u-text-center">
            <img src="{{projectImage}}" style="width: 250px !important;" alt="ProjectImage" title="ProjectPicture">
        </div>
    </div>
</div>