<div class="container margin">

    <div class="wrap-outer">
        <div class="wrap-inner">
            <div class="content">
                <!-- content begin -->
                <h1>{{'notFound.heading' | translate}}</h1>
                <p>{{'notFound.subHeading' | translate}}</p>
                <p>
                    <a [routerLink]="['/home']">{{'notFound.click' | translate}}</a> {{'notFound.para' | translate}}
                </p>
                <!-- content end -->
            </div>
        </div>
        <!-- wrap-inner -->
    </div>
</div>
<!-- wrap-outer -->