@media (max-width: 540px) {
    .center {
        text-align: center
    }
}

@media (max-width: 480px) {
    .center {
        text-align: center
    }
}

.chooseFile {
    margin-top: 29px;
}

.errors {
    display: block;
    width: 100%;
    font-size: 80%;
    color: #dc3545;
    margin-top: 3px;
}

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
    color: #0056b3 !important;
    text-decoration: underline;
    cursor: pointer;
}

.anchorStyle {
    color: #6F91C8 !important;
}

angular2-multiselect.myclass.custom-class.form-control.ng-touched.ng-dirty.ng-valid {
    padding: 0px;
    height: 32px;
}

angular2-multiselect.myclass.custom-class.ng-untouched.ng-pristine.ng-invalid.form-control.is-invalid {
    padding: 0px;
    height: 32px;
}

angular2-multiselect.myclass.custom-class.form-control.ng-touched.ng-dirty.is-invalid.ng-invalid {
    padding: 0px;
    height: 32px;
}

angular2-multiselect.myclass.custom-class.ng-untouched.ng-pristine.ng-valid.form-control.form-control-override {
    padding: 0px;
    height: 32px;
}

angular2-multiselect.myclass.custom-class.ng-untouched.ng-pristine.ng-valid.form-control {
    padding: 0px;
    height: 32px;
}

angular2-multiselect.myclass.custom-class.ng-untouched.ng-pristine.ng-invalid.form-control.form-control-override {
    padding: 0;
    height: 32px;
}

angular2-multiselect.myclass.custom-class.ng-untouched.ng-pristine.ng-invalid.form-control {
    padding: 0;
    height: 32px;
}