/*------------------------------------
            dashboard 
 ------------------------------------*/

h1 {
    font-size: 28px;
    line-height: 1.2;
    font-family: "Arial", "Helvetica Neue", "Helvetica", sans-serif;
    color: #3b3b3b;
}

.brandNameRegion {
    background: white;
    padding: 10px;
}


/* homePage */

.responsive {
    width: 100%;
    height: auto;
}

.alignment img {
    position: absolute;
    /* float: right; */
    bottom: 15px;
    right: 37px;
}

.blueColorH {
    color: #5f366e !important;
}

.RedColorH {
    color: #d50032
}

.welcome {
    text-align: center;
    padding: 10px 0 10px 0;
}

.welcomeText {
    font-size: 12px;
}

.subtitle {
    font-size: 24px;
    font-weight: 500;
}

.btn-cst {
    color: #008c9e !important;
    font-weight: bold!important;
}

.modal-header {
    background-color: #5f366e;
    color: white;
    padding: 13px 11px 17px !important;
}

.modal-div .row {
    margin-right: 0;
    margin-left: 0;
}

.textBla,
.textBla:hover {
    color: black !important;
}

.textWhi {
    color: white
}

.wipoMatchLogo {
    margin-bottom: 16px;
    font-size: 28px;
    line-height: 1.2;
    font-weight: bold;
}

.VideoRegion {
    background: #eee;
    /*padding:45px 0px 0px 0px; */
    padding-bottom: 45px;
    padding-top: 45px;
}

* {
    box-sizing: border-box;
}

.column.component-video,
.column.component-signup {
    float: left;
}

img.puzzleImg {
    position: relative;
}


/* Clearfix (clear floats) */

.row::after {
    content: "";
    clear: both;
    display: table;
}

div.column.component-signup {
    position: relative;
}

button {
    font-size: 16px;
}

button.btn.btn-primary.sign-in {
    position: absolute;
    bottom: 3%;
    right: 30%;
    display: inline-block;
    font-weight: normal;
    font-family: "Arial", "Helvetica Neue", "Helvetica", sans-serif;
    border-radius: 3px;
    background-color: #314668;
    border: 1px solid #293a57;
    color: #fff;
    border-color: #314668;
    text-align: center;
    padding: 8px 16px;
    margin-bottom: 5px;
    color: #fff;
    z-index: 9 !important;
}

ul.searchWipoMatchButton {
    text-align: center
}

ul.searchWipoMatchButton a {
    font-size: 40px;
    margin-left: 200px;
    color: cadetblue;
}

ul.searchWipoMatchButton li {
    display: inline;
}

li.section {
    display: inline;
}

ul.foursection {
    display: flex
}

div.ourMission {
    height: 250px;
}

div.salientFeatures {
    height: 250px;
}

div.foundingChampions {
    height: 250px;
    padding: 30px;
}

h2.logoText,
h4.logoText {
    color: darkblue;
    font-size: x-large;
    padding: 10px;
    text-align: center;
}

@media(min-width :568px) {
    .missionRegion {
        background-image: url("src/assets/images/mission-bg-img.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        padding: 60px;
        height: 100%;
        width: 100% !important;
    }
    .col-sm-2.col-xs-12.salientFeatureWipoText1 span {
        float: none;
        color: black;
    }
}

@media (max-width: 480px) {
    .missionRegion {
        background-color: #314668;
    }
    .col-sm-2.col-xs-12.salientFeatureWipoText1 span {
        float: none;
        color: black;
    }
}

.missionWipo {
    background: rgb(12, 12, 29);
    background: rgba(25, 25, 54, 0.6);
    opacity: 87%;
    padding-left: 40px;
    padding-right: 40px;
    padding: 40px;
}

.missionWipoRow {
    width: 100%
}

h2.missionHeading {
    color: white;
    text-align: center;
    margin-bottom: 0;
    padding-top: 1%;
    font-size: 23px;
    line-height: 1.25;
    font-weight: bold
}

p.missionText {
    font-size: 16px;
    color: #fff;
    font-family: "Arial", "Helvetica Neue", "Helvetica", sans-serif;
    text-align: center;
    padding: 20px;
    margin-bottom: 0rem !important;
}

.missionBtn {
    display: inline-block;
    font-weight: normal;
    font-family: "Arial", "Helvetica Neue", "Helvetica", sans-serif;
    border-radius: 3px;
    background-color: #314668;
    border: 1px solid #293a57;
    color: #fff;
    border-color: #314668;
    text-align: center;
    padding: 8px 16px;
    margin-bottom: 5px;
    color: #fff;
}

.salientFeatureWipoBtn {
    display: inline-block;
    font-weight: normal;
    font-family: "Arial", "Helvetica Neue", "Helvetica", sans-serif;
    border-radius: 3px;
    background-color: #314668;
    border: 1px solid #293a57;
    color: #fff;
    border-color: #314668;
    text-align: center;
    padding: 8px 16px;
    margin-bottom: 5px;
    color: #fff;
}

.salientFeatureRegion {
    padding: 45px 0px;
}

.salientFeatureWipoTextBox {
    padding-bottom: 35px;
}

.salientFeatureWipoText1 {
    font-family: "Arial", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px
}

.salientFeatureWipoText2 {
    font-family: "Arial", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 16px;
    margin-bottom: 10px
}

.salientFeatureWipoH1 {
    font-family: "Arial", "Helvetica Neue", "Helvetica", sans-serif;
    color: black;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 10px;
    font-size: 23px;
    line-height: 1.25;
    font-weight: bold;
}

.salientFeatureWipoRow {
    padding: 10px
}

.salientFeatureWipoH4 {
    font-family: "Arial", "Helvetica Neue", "Helvetica", sans-serif;
    color: darkslateblue;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 10px;
    font-size: 20px;
    line-height: 1.25;
    font-weight: 600;
}

.col-sm-2.col-xs-12.salientFeatureWipoText1 span {
    float: right;
    color: black;
}

.offersAndNeedsRegion {
    padding: 45px 0px;
    text-align: justify;
    background-color: #eee
}


/* .row {
   display: flex;
   flex-wrap: wrap;
   margin-right: -15px;
   margin-left: -15px;
} */


/*------------------------------------
           Card View 
------------------------------------*/


/* Float four columns side by side */

.col-md-12.col-sm-12.offersAndNeedsRegionH1 {
    font-family: "Arial", "Helvetica Neue", "Helvetica", sans-serif;
    text-align: center;
    padding-bottom: 40px;
    font-size: 23px;
    line-height: 1.25;
    font-weight: bold;
}

.column.cardview {
    float: left;
    width: 20%;
    padding: 0 10px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive columns */

@media (max-width: 600px) {
    .column.cardview {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
    .col-sm-2.col-xs-12.salientFeatureWipoText1 span {
        float: none;
        color: black;
    }
}

#seeker {
    background: url('src/assets/images/seekers-icon.png') no-repeat 46% 0;
    height: 100px;
    /*width: 100px;*/
    vertical-align: middle;
    margin-left: 8%;
    /*padding:16px;
   background-position-x: center;
   margin-left: 30px;*/
}

.column.cardview:hover #seeker {
    background: url('src/assets/images/seekers-icon-hover.png') no-repeat 46% 0;
}

#community {
    background: url('src/assets/images/our_community_diseble.svg') no-repeat 46% 0;
    height: 100px;
    /*width: 100px;*/
    vertical-align: middle;
    margin-top: 10%;
    /*padding:16px;
   background-position-x: center;
   margin-left: 30px;*/
}

.marginCustom {
    margin-bottom: 9px !important;
}

.column.cardview:hover #community {
    background: url('src/assets/images/our_community.svg') no-repeat 46% 0;
}

#donor {
    background: url('src/assets/images/donors-icon.png')no-repeat 46% 0;
    height: 100px;
    vertical-align: middle;
    margin-left: 8%;
}

.column.cardview:hover #donor {
    background: url('src/assets/images/donors-icon-hover.png') no-repeat 46% 0;
}

#supporter {
    background: url('src/assets/images/supporters-icon.png') no-repeat 46% 0;
    height: 100px;
    vertical-align: middle;
    margin-left: 8%;
}

.column.cardview:hover #supporter {
    background: url('src/assets/images/supporters-icon-hover.png') no-repeat 46% 0;
}

#successStories {
    background: url('src/assets/images/success-stories-icon.png') no-repeat 46% 0;
    vertical-align: middle;
    height: 100px;
}

.column.cardview:hover #successStories {
    background: url('src/assets/images/success-stories-icon-hover.png') no-repeat 46% 0;
}

.card {
    background-color: #fff;
    background-position-x: center;
    padding: 15px 0px;
    text-align: center;
    cursor: pointer;
}

.card-text {
    font-size: 14px;
    color: #314668;
}

.card-title {
    font-size: 16px;
    color: #6F91C8;
    font-weight: bold;
    margin-top: .75rem;
    text-align: center
}

.card-title:hover {
    text-decoration: underline !important
}

.card-body {
    flex: 1 1 auto;
}

@media screen and (max-width: 375px) {
    .column.title {
        font-size: 16px;
        color: #314668;
        font-weight: bold;
        margin-bottom: 15px
    }
    .col-sm-2.col-xs-12.salientFeatureWipoText1 span {
        float: none;
        color: black;
    }
}


/*------------------------------------
           Founding Champions
------------------------------------*/

.foundingChampionsWipoH1 {
    font-family: "Arial", "Helvetica Neue", "Helvetica", sans-serif;
    color: #6F91C8;
    text-align: center;
    margin-bottom: 0;
    padding-top: 1%;
    font-size: 23px;
    line-height: 1.25;
    font-weight: bold;
    padding-bottom: 30px;
}

.foundingChampionsWipoLogo {
    text-align: center;
    padding: 15px;
    background: white;
}

.ChampionsLogo {
    padding: 10px;
    margin-left: 30px;
    width: 96%;
}

.carousel-control {
    width: 5%;
    color: #314668
}

.carousel-control-next-icon:after {
    content: '>';
    font-size: 33px;
    color: #4050F6 !important;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 33px;
    color: #4050F6 !important;
}


/*------------------------------------
      Forgot Password
------------------------------------*/

.forgotPassword {
    text-decoration: underline;
    float: right;
}

.component-footer {
    width: 50%;
    float: left;
}

.modal-header {
    background: #314668;
}

.modal-footer {
    background: #eee !important;
    padding: 5px !important;
}

.forgetPassword {
    padding-top: 0 !important
}

.wipoMatch {
    padding: 20px;
    margin-bottom: 0;
    text-align: center;
}


/* Check this bootstrap v4 carousel with 4 items: */

.col-md-3 {
    display: inline-block;
    margin-left: -4px;
}

.col-md-3 img {
    width: 100%;
    height: auto;
}

body .carousel-indicators li {
    background-color: red;
}

body .carousel-indicators {
    bottom: 0;
}

body .no-padding {
    padding-left: 0;
    padding-right: 0;
}