<div class="container">
    <div class="row breadcrum-container">
        <ul class="col-sm-12">
            <li>
                <a href="https://www.wipo.int/portal/en/" target="_blank">{{ 'breadcrum.home' | translate }}</a>
            </li>
            <li style="margin : 2px 9px 0 9px" class="fa fa-angle-right">
            </li>
            <li>
                <a href="https://www.wipo.int/cooperation/en/" target="_blank">{{ 'breadcrum.Cooperation' | translate}}</a>
            </li>
            <li style="margin : 2px 9px 0 9px" class="fa fa-angle-right"></li>
            <li>
                <a [routerLink]="['/home']">{{ 'breadcrum.WIPO_Match' | translate }}</a>
            </li>
            <li style="margin : 2px 9px 0 9px" class="fa fa-angle-right">
            </li>
            <li>
                <a [routerLink]="['/Supporter-info']">{{'breadcrum.Supporter-info' | translate}}</a>
            </li>
            <li style="margin : 2px 9px 0 9px"></li>
        </ul>
    </div>
</div>
<div class="container">

    <div class="content">
        <form method="post" name="surveyForm">
            <div id="page-div">
                <table class="page" border="0" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                            <td class="topLeftCorner"></td>
                            <td align="left" class="title">
                                <h1 class="title"></h1>
                                <h1>{{'title.supporter-sign-up' |translate}}
                                    <a class="btn call-to-action floatR" [routerLink]="['/supporters']" title="">{{'supporterInfo.supporters' | translate}}</a></h1>
                            </td>
                            <td class="topRightCorner">
                        </tr>
                        <tr>
                            <td class="leftSide"></td>
                            <td class="sections">
                                <table class="sections" border="0" cellspacing="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td class="spaceBeforeFirstSectionText" colspan="1"></td>
                                        </tr>
                                        <tr>
                                            <td class="spaceAfterFirstSectionText" colspan="1"></td>
                                        </tr>
                                        <tr>
                                            <td class="spaceBeforeIntro" colspan="1"></td>
                                        </tr>
                                        <tr>
                                            <td class="introduction" align="left" colspan="1">
                                                <p class="">{{'supporterInfo.para1' | translate}}
                                                    <a [routerLink]="['/home']">{{ 'breadcrum.WIPO_Match' | translate }}</a>.</p>
                                                <p class="">{{'supporterInfo.para2' | translate}}</p>
                                                <h2>{{'supporterInfo.Benefits' | translate}}</h2>
                                                <p>{{'supporterInfo.benefitPara' | translate}}</p>
                                                <ul class="dot__list">
                                                    <li>{{'supporterInfo.benefit1' | translate}}</li>
                                                    <li>{{'supporterInfo.benefit2' | translate}}</li>
                                                    <li>{{'supporterInfo.benefit3' | translate}}</li>
                                                </ul>
                                                <h2>{{'supporterInfo.Conditions' | translate}}</h2>
                                                <p>{{'supporterInfo.conditionsPara'| translate}}</p>
                                                <ul class="dot__list">
                                                    <li>{{'supporterInfo.Conditions1' | translate}}</li>
                                                    <li>{{'supporterInfo.Conditions2' | translate}}</li>
                                                    <li>{{'supporterInfo.Conditions3' | translate}}</li>
                                                    <li>{{'supporterInfo.Conditions4' | translate}}</li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="afterLastQuestion" colspan="1"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td class="rightSide"></td>
                        </tr>
                        <tr>
                            <td class="bottomLeftCorner"></td>
                            <td align="right"><a class="btn call-to-action" [routerLink]="['/supporter-sign-up']" title="">{{'supporterInfo.signUp' | translate}}</a></td>
                            <td class="bottomRightCorner"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </form>
    </div>
</div>