<div class="container">
    <div class="row breadcrum-container">
        <ul class="col-sm-12">
            <li>
                <a href="https://www.wipo.int/portal/en/" target="_blank">{{ 'breadcrum.home' | translate }}</a>
            </li>
            <li style="margin : 2px 9px 0 9px" class="fa fa-angle-right">
            </li>
            <li>
                <a href="https://www.wipo.int/cooperation/en/" target="_blank">{{ 'breadcrum.Cooperation' | translate}}</a>
            </li>
            <li style="margin : 2px 9px 0 9px" class="fa fa-angle-right"></li>
            <li>
                <a [routerLink]="['/home']">{{ 'breadcrum.WIPO_Match' | translate }} </a>
            </li>
            <li style="margin : 2px 9px 0 9px" class="fa fa-angle-right">
            </li>
            <li>
                <a [routerLink]="['/success-stories']">{{ 'breadcrum.success-stories' | translate }}</a>
            </li>
            <li style="margin : 2px 9px 0 9px" class="fa fa-angle-right">
            </li>
            <li>
                <a [routerLink]="['/videos']">{{ 'breadcrum.videos' | translate }}</a>
            </li>
        </ul>
    </div>
</div>
<div class="container">
    <h1 class="pageHeadingName">{{ 'videos.videoLinks' | translate }}</h1>
</div>
<div class="container">
    <div class="row">
        <ol type="1">
            <li><a target="_blank" href="https://m.youtube.com/watch?v=jKGRJm6WIKo"> Cambridge University - United Kingdom (on December 10, 2018) </a></li>
            <li><a target="_blank" href="https://m.youtube.com/watch?v=GWkeHh0lVFI"> General Assembly 2018 of the Islamic Development Bank in Tunis -Tunisia (on April 3, 2018) </a></li>
            <li><a target="_blank" href="https://www.youtube.com/watch?v=FBXCi9JpU3o"> WIPO Match presentations during the United Nations Development Economic and Social Affairs (UNDESA)  </a></li>
            <li><a target="_blank" href="https://www.youtube.com/watch?v=h_EIGTT9O7M"> Ministry of Science and Technology of China Joint Conference On Science Technology and Innovation towards Sustainable Development Goals 2030 </a></li>
        </ol>
    </div>
</div>