<div class="container tab-padding">
    <div class="row pd-to-20">
        <p class="table-heading">Published Application</p>
    </div>
    <div class="row">
        <table class="table resposiveTbl">
            <tr class="th-header">
                <th colspan="2" scope="col-sm-2" style="width: 10%;">EOI Id </th>
                <th colspan="2" scope="col-sm-2" style="width: 55%;">EOI Req. Title</th>
                <th colspan="3" scope="col-sm-2" style="width: 20%;">Inst/Org Name</th>
                <th colspan="3" scope="col-sm-2" style="width: 20%;">EOI Req. Type</th>
                <th colspan="2" scope="col-sm-2" style="width: 20%;min-width: 150px;">App Type</th>
            </tr>
            <tbody class="table-striped">
                <tr *ngFor="let item of publishedAppList.data | paginate: configPub">
                    <td colspan="2" scope="col-sm-2"><strong>EOI Id </strong>{{item.requestId}}</td>
                    <td colspan="2" scope="col-sm-2"><strong>EOI Req. Title </strong>{{item.requestTitle}}</td>
                    <td colspan="3" scope="col-sm-2"><strong>Inst/Org Name </strong>{{item.orgName}}</td>
                    <td colspan="3" scope="col-sm-2"><strong>EOI Req. Type </strong>{{item.proposalType}}</td>
                    <td colspan="2" scope="col-sm-2"><strong>App Type </strong>{{item.partyType}}</td>
                </tr>
            </tbody>
        </table>
        <div class="container" *ngIf="publishedAppList.data.length==0">
            <a class="emptyTable">No Records Found</a>
        </div>
        <div class="container" *ngIf="(publishedAppList.data?.length)">
            <div class="pull-right paginationcontrol">
                <nav aria-label="Demo of active current page number">
                    <pagination-controls (pageChange)="pageChangedPublished($event)" id="configPub"></pagination-controls>
                </nav>
            </div>
        </div>
        <br>
    </div>
    <div class="row pd-to-20">
        <p class="table-heading">Rejected Application</p>
    </div>
    <div class="row">
        <table class="table resposiveTbl">
            <tr class="th-header">
                <th colspan="2" scope="col-sm-2" style="width: 10%;">EOI Id </th>
                <th colspan="2" scope="col-sm-2" style="width: 55%;">EOI Req. Title</th>
                <th colspan="3" scope="col-sm-2" style="width: 20%;">Inst/Org Name</th>
                <th colspan="3" scope="col-sm-2" style="width: 20%;">EOI Req. Type</th>
                <th colspan="2" scope="col-sm-2" style="width: 20%;min-width: 150px;">App Type</th>
            </tr>
            <tbody class="table-striped">
                <tr *ngFor="let item of rejectedAppList.data | paginate: configPub2">
                    <td colspan="2" scope="col-sm-2"><strong>EOI Id </strong>{{item.requestId}}</td>
                    <td colspan="2" scope="col-sm-2"><strong>EOI Req. Title </strong>{{item.requestTitle}}</td>
                    <td colspan="3" scope="col-sm-2"><strong>Inst/Org Name </strong>{{item.orgName}}</td>
                    <td colspan="3" scope="col-sm-2"><strong>EOI Req. Type </strong>{{item.proposalType}}</td>
                    <td colspan="2" scope="col-sm-2"><strong>App Type </strong>{{item.partyType}}</td>
                </tr>
            </tbody>
        </table>
        <div class="container" *ngIf="rejectedAppList.data.length==0">
            <a class="emptyTable">No Records Found</a>
        </div>
        <div class="container" *ngIf="(rejectedAppList.data?.length)">
            <div class="pull-right paginationcontrol">
                <nav aria-label="Demo of active current page number">
                    <pagination-controls (pageChange)="pageChangedPublished2($event)" id="configPub2"></pagination-controls>
                </nav>
            </div>
        </div>
    </div>
</div>